page-avaliacoes {

}

.nome-aluno{
  text-align: center;
  font-size: 20px;
  background-color: #32db64;
  color: #fff;
}
.nome-aluno p{
  color: #fff;
}

ion-card{
  width: 100%;
}

.dtAtual{
  margin-top: -10px;
}

.aluno-list{
  width: 100%;
  padding: 10px;
  background-color: #32db64;
  border-radius: 5px;
}

.tabela{
  border-top: 1px solid black;
}
